<app-nhaxe>
</app-nhaxe>

<div>
    <h2 style="text-align: center;">Sửa Chuyến</h2>
    <form [formGroup]="editBusForm" (ngSubmit)="onSubmit()">
        <label for="username">Tuyến Đi: </label>
        <span>
            <select name="" id="" formControlName="routeID" >
              <option class="first" value="" disabled selected hidden>{{bus.routeID.startLocation}} - {{bus.routeID.stopLocation}}</option>
              <option *ngFor = "let route of list_route" value="{{route._id}}">{{route.startLocation}} - {{route.stopLocation}}</option>
            </select>
      </span>

        <label for="email">Giờ Xuất Phát: </label>
        <span>
        <input type="time" formControlName="departureTime"  [ngModel]="bus.departureTime">
      </span>

        <label for="pword">Số Chỗ: </label>
        <span>
        <input type="number"  min="5" formControlName="seat" [ngModel]="bus.seat">
      </span>

        <div class="center">
            <button class="btn btn-delete" type="submit" routerLink="//list-bus">Cancel</button>
            <button class="btn btn-add" type="submit">Submit</button>
        </div>
    </form>

</div>