<app-nhaxe>
</app-nhaxe>

<div>
    <h2 style="text-align: center;"> Sửa Lịch Trình</h2>
    <form [formGroup]="editScheduleForm" (ngSubmit)="onSubmit()">
        <label for="username">Chuyến Đi: </label>
        <span>
            <select name="" id="" formControlName="busID">

                <option value="" disabled selected hidden *ngIf="schedule">{{schedule.busID.departureTime}} - {{schedule.routeID.startLocation}} => {{schedule.routeID.stopLocation}}</option>

                <option *ngFor = "let bus of list_bus" value="{{bus._id}}">{{bus.departureTime}} - {{bus.routeID.startLocation}} => {{bus.routeID.stopLocation}}</option>
            </select>
            
      </span>

        <label for="pword">Giá Vé: </label>
        <span>
            <input type="number" id="pword" min="10000" formControlName="price" *ngIf="schedule" [ngModel]="schedule.price">
        </span>

        <label for="email">Ngày Đi: </label>
        <span>
        <input type="text" id="email" formControlName="date" *ngIf="schedule" [ngModel]="schedule.date"
        onfocus="(this.type='date')" onblur="(this.type='text')">
      </span>

        <label for="username">Xe Chạy: </label>
        <span>
            <select name="" id="" formControlName="vehicleID">
                <option *ngFor = "let vehicle of vehicles" value="{{vehicle._id}}">{{vehicle.numberSeat}} chỗ - Biển Số: {{vehicle.licensePlate}}</option>
            </select>
      </span>

        <div class="center">
            <button class="btn btn-delete" type="submit" routerLink="//list-schedule">Cancel</button>
            <button class="btn btn-add" type="submit">Submit</button>
        </div>
    </form>

</div>