<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title" style="text-align: center;">Quản Lý Tuyến</h3>
            <button class="btn btn-success" style="color: black;" routerLink="//add-route">Thêm Tuyến</button>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <!-- <th class="border-top-0">#</th> -->
                            <th class="border-top-0">Điểm Đi</th>
                            <th class="border-top-0">Điểm Đến</th>
                            <th class="border-top-0">Sửa</th>
                            <!-- <th class="border-top-0">Sửa</th> -->
                            <th class="border-top-0">Xóa</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let route of list_route">
                        <tr>
                            <!-- <td>1</td> -->
                            <td>{{route.startLocation}}</td>
                            <td>{{route.stopLocation}}</td>
                            <td><button class="btn btn-primary" [routerLink]="['//edit-route',route._id]">Sửa</button></td>
                            <td><button class="btn btn-danger">Xóa</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>