<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title" style="text-align: center;">Quản Lý Chuyến</h3>
            <button class="btn btn-success" style="color: black;" routerLink="//add-bus">Thêm Chuyến</button>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <!-- <th class="border-top-0">#</th> -->
                            <th class="border-top-0">Tuyến Đi</th>
                            <th class="border-top-0">Số Ghế</th>
                            <th class="border-top-0">Giờ Khởi Hành</th>
                            <th class="border-top-0">Sửa</th>
                            <!-- <th class="border-top-0">Sửa</th> -->
                            <th class="border-top-0">Xóa</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let bus of list_bus">
                        <tr>
                            <td>{{bus.routeID.startLocation}} - {{bus.routeID.stopLocation}}</td>
                            <td>{{bus.seat}}</td>
                            <td>{{bus.departureTime }}</td>
                            <td><button class="btn btn-primary" [routerLink]="['//edit-bus',bus._id]">Sửa</button></td>
                            <td><button class="btn btn-danger" (click)="delete(bus._id)">Xóa</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>