<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title" style="text-align: center;">Quản Lý Nhà Xe</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <!-- <th class="border-top-0">#</th> -->
                            <th class="border-top-0">Tên Nhà Xe</th>
                            <th class="border-top-0">Số Điện Thoại</th>
                            <th class="border-top-0">Tiện Ích</th>
                            <!-- <th class="border-top-0">Sửa</th> -->
                            <th class="border-top-0">Chính Sách</th>
                            <!-- <th class="border-top-0">Mô Tả</th> -->
                            <th class="border-top-0">Đánh Giá</th>
                            <th class="border-top-0">Xóa</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let agency of list_agency">
                        <tr>
                            <td>{{agency.nameAgency}}</td>
                            <td>{{agency.phoneNumber}}</td>
                            <td>{{agency.utilities}}</td>
                            <td>{{agency.policy}}</td>
                            <td>{{agency.scoreRate}} <i class="fa fa-star" style="color: yellow;" aria-hidden="true"></i> - {{agency.totalRate}} đánh giá </td>
                            <td><button class="btn btn-danger" (click)="delete(agency._id)">Xóa</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>