<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
    <header class="topbar" data-navbarbg="skin5">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header" data-logobg="skin6">
                <a class="navbar-brand">
                    <b class="logo-icon">   
                          <img style="width: 80px;" src="../assets/images/logo.jpg"/>
                      </b>
                    <span class="logo-text">
                          <h3 style="color: Blue ; margin-top : 10px">MANAGER</h3>
                          <!-- <img style="width: 100px ; height: 100px" src="../assets/images/logo-manager.png" /> -->
                      </span>
                </a>
                <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"><i class="ti-menu ti-close"></i></a>
            </div>

            <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">

                <ul class="navbar-nav ml-auto d-flex align-items-center">

                    <div class="dropdown admin">
                        <h5 class="dropbtn">Quản Lý Admin</h5>
                        <div class="dropdown-content">
                            <a routerLink="list-client">Quản Lý Tài Khoản</a>
                            <a routerLink="list-agency">Quản Lý Nhà xe</a>
                        </div>
                    </div>

                    <div class="dropdown taikhoan">
                        <h5 class="dropbtn">Tài Khoản</h5>
                        <div class="dropdown-content">
                            <a routerLink="">Đăng Nhập</a>
                            <a (click)="singOut()">Đăng Xuất</a>
                            <a>Đổi Mật Khẩu</a>
                        </div>
                    </div>

                </ul>

            </div>
        </nav>
    </header>

    <aside class="left-sidebar" data-sidebarbg="skin6">

        <div class="scroll-sidebar">

            <nav class="sidebar-nav">
                <ul id="sidebarnav">

                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="list-staff" aria-expanded="false">
                            <i class="fa fa-user" aria-hidden="true"></i><span class="hide-menu">Quản lý Nhân Viên</span></a>
                    </li>
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="list-route" aria-expanded="false"><i class="fa fa-road"
                                  aria-hidden="true"></i><span class="hide-menu">Quản Lý Tuyến Xe</span></a></li>
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="list-bus" aria-expanded="false"><i class="fa fa-bus"
                                  aria-hidden="true"></i><span class="hide-menu">Quản Lý Chuyến</span></a></li>
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="list-schedule" aria-expanded="false"><i class="fa fa-calendar"
                                  aria-hidden="true"></i><span class="hide-menu">Quản Lý Lịch Trình</span></a></li>

                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="list-vehicle" aria-expanded="false">
                            <i class="fa fa-car" aria-hidden="true"></i><span class="hide-menu">Quản lý Xe</span></a>
                    </li>

                </ul>
            </nav>
        </div>
    </aside>
    <div class="page-wrapper">

        <div class="container-fluid">

            <router-outlet></router-outlet>

        </div>
    </div>

</div>