<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title" style="text-align: center;">Quản Lý Nhân Viên</h3>
            <button class="btn btn-success" style="color: black;" routerLink="//add-staff">Thêm Nhân Viên</button>
            <!-- <p class="text-muted">Add class <code>.table</code></p> -->
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <!-- <th class="border-top-0">#</th> -->
                            <th class="border-top-0">Họ Tên</th>
                            <th class="border-top-0">Email</th>
                            <th class="border-top-0">Số Điện Thoại</th>
                            <!-- <th class="border-top-0">Sửa</th> -->
                            <th class="border-top-0">Xóa</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let staff of list_staff">
                        <tr>
                            <!-- <td>1</td> -->
                            <td>{{staff.userID.fullName}}</td>
                            <td>{{staff.userID.email}}</td>
                            <td>{{staff.userID.phoneNumber}}</td>
                            <td><button class="btn btn-danger">Xóa</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>